.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar a {
  color: inherit;
  text-decoration: none;
}

.content {
  height: 93.4%;
}

.reg-link {
  margin: 0 10px;
  background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%);
}
