.form-wrapper
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  background:  linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)

.form-block
  text-align: center
  min-width: 600px
  margin: 0 auto
  background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)
  border-radius: 20px
  box-shadow: 0 0 20px 7px white
  &:hover
    box-shadow: 0 0 49px 22px white

  &__form-title
    font-size: 54px
    font-weight: 500
    font-family: 'Satisfy', cursive
    color: white
    padding: 10px


.mat-card-content
  padding: 15px
  background: initial

.label
  color: white


  &__form-title
    font-size: 32px
    font-style: italic
    margin: 20px 0 30px!important

.form
  display: flex!important
  flex-direction: column

.btn-login
  margin: 15px 0 0 0
  color: white!important
  border: 1px solid white
  background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)

.register-link
  color: white

.mat-error
  font-size: 16px
  font-weight: bold
  text-align: center
  color: pink
  padding-bottom: 20px

.error
  font-size: 16px
  font-weight: bold
  text-align: center
  color: pink
  padding-bottom: 20px
