.form-wrapper
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  background:  linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)

.mat-card-content
  padding: 15px
  background: initial

.form-block
  text-align: center
  min-width: 600px
  margin: 0 auto
  background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)
  border-radius: 20px
  box-shadow: 0 0 20px 7px white
  &:hover
    box-shadow: 0 0 49px 22px white

  &__form-title
    font-size: 54px
    font-weight: 500
    font-family: 'Satisfy', cursive
    color: white
    padding: 15px


.mat-form-field-infix
  min-width: 500px!important

.reg-form
  &__element-wrapper
    display: flex!important
    flex-direction: column
    margin-bottom: 30px

  &__label
    font-size: 16px
    font-style: italic
    color: white

  &__element
    font-size: 18px!important
    padding: 5px

  &__element-error
    font-size: 16px
    font-weight: bold
    text-align: center
    color: pink
    padding-top: 5px

  &__reg-btn
    color: white!important
    border: 1px solid white
    background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)

.identical-error
  font-size: 16px
  font-weight: bold
  text-align: center
  margin-top: -20px
  padding-bottom: 20px
  color: pink

