.block
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  background: rgb(205,0,255)
  background:  linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)

  &__btn-link
    position: relative
    display: inline-block
    text-decoration: none
    width: 450px
    height: 430px
    color: black
    background:  url("https://www.pngplay.com/wp-content/uploads/6/Facebook-Messenger-Icon-PNG-Clipart-Background.png") 50% 50%
    background-size: 1237px
    border-radius: 50%
    overflow: hidden
    &:hover
      transform: translateY(0)
      box-shadow: 0 0 49px 22px white
      .text
        top: 110px
        transition: 2s
        transform: translateY(100%)




.text
  display: inline-block
  position: absolute
  content: ''
  width: 200px
  height: 100px
  top: -80px
  left: 35%
  font-size: 74px
  font-weight: 500
  font-family: 'Satisfy', cursive
  text-transform: capitalize
  color: black

