.message-wrapper
  display: flex

.users
  flex-grow: 1
  background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)
  border-right: 2px solid white


  &__title
    text-align: center
    font-size: 44px
    font-weight: 500
    font-family: 'Satisfy', cursive
    padding: 25px 5px 10px

  &_main-list
    border-top: 2px solid white

.main-list
  padding: 10px
  list-style: none
  text-align: center

  &__item
    position: relative
    font-size: 24px
    font-weight: 500
    margin-bottom: 10px
    text-transform: capitalize

  &__online-circle
    position: absolute
    content: ''
    top: 5px
    right: 10px
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%
    background: greenyellow

.messages
  flex-grow: 7

.message-block
  display: flex
  flex-direction: column
  background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)
  padding: 5px 10px
  height: 773px
  overflow-y: scroll
  &__title
    text-align: center
    font-size: 74px
    font-weight: 500
    font-family: 'Satisfy', cursive
    padding: 25px
    margin-bottom: 30px

.message
  border: 3px solid white
  margin-bottom: 20px
  padding: 10px
  border-radius: 10px
  box-shadow: 0 0 10px 3px white
  &:hover
    box-shadow: 0 0 10px 5px white

  &__span
    font-size: 24px
    font-weight: 700
    margin-right: 5px
    color: black


  &__title
    font-size: 22px
    font-weight: 700
    margin-right: 5px
    font-style: italic

  &__text
    font-size: 22px
    font-weight: 500
    margin: 0 -10px
    padding: 10px
    font-style: italic
    border-top: 1px solid white


.form-wrapper
  position: static


.form-block
  background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%) !important
  min-height: 95px!important

.form
  display: flex
  justify-content: center
  padding-top: 20px
  &__input
    width: 90%
    height: 50px
    font-size: 20px
    padding: 0 10px
    font-weight: bold
    border-radius: 5px
    border: 2px solid white
    margin-right: 15px

  &__btn-send
    font-size: 24px
    font-weight: bold
    color: white
    padding: 10px 20px
    border-radius: 5px
    border: 2px solid white
    background: linear-gradient(180deg, rgba(218,113,244,1) 0%, rgba(8,161,230,1) 100%)



