<div class="message-wrapper">
  <div class="users">
    <h3 class="users__title">Online users</h3>
    <ul class="users_main-list main-list">
      <li class="main-list__item" *ngFor="let user of users | async">{{ user.name }} <span class="main-list__online-circle"></span></li>
    </ul>
  </div>
  <div class="messages">
    <div class="message-block">
      <h2 class="message-block__title">Messages</h2>
      <div class="message" *ngFor="let message of messages">
        <p class="message__title"><span class="message__span">Author:</span> {{ message.user }}</p>
        <p class="message__text"><span class="message__span">Message:</span> {{ message.message }}</p>
      </div>
    </div>
    <div class="form-wrapper">
      <mat-card class="form-block">
        <form (ngSubmit)="sendMessage()" class="form">
          <input
            type="text"
            name="messageText"
            class="form__input"
            [(ngModel)]="messageText"
          />
          <button type="submit" class="form__btn-send">Send</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>


